<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Inicio</a></li>
		<li class="active">Components</li>
	</ol>

</div>

<div class="container-fluid" ng-controller="ComponentsController">

	<div class="row">
		<div class="col-md-12">

			<panel panel-class="panel-primary" data-heading="Componentes conectados">
				  <panel-controls>
            <button ng-show="loading == true" class="button-spinner btn btn-sm btn-default">
              <div class="loader-spinner-small"></div>
            </button>
  					<panel-control-collapse></panel-control-collapse>
				  </panel-controls>
          <div class="spinner-container-components" ng-show="spinner == true">
            <div class="loader-spinner"></div>
          </div>
					<div ng-show="componentserror == true" class="error-container">
						<span>Error de conexion en el servidor </span>
						<button ng-click="reloadpage()" class="error-button btn btn-sm btn-default">
							<span class="glyphicon glyphicon-refresh"></span>
						</button>
					</div>
				  <table ng-show="(spinner == false) && (componentserror == false)" class="table table-bordered table-condensed">
  					<tr style="font-weight: bold">
  						<td style="width:20%">Nombre</td>
  						<td style="width:20%">IP</td>
              <td style="width:20%">Mac</td>
  						<td style="width:20%">Encendido/apagado</td>
  						<td style="width:20%">Modificar/estado</td>
  					</tr>
  					<tr ng-repeat="component in components_server">
  					  <td>
	  						<span editable-text="component.label" e-name="name" e-form="rowform" e-required>
	  						  {{ component.label }}
	  						</span>
								<span title="Componente enchufado" ng-show="component.pluged == true" class="text-success float-right glyphicon glyphicon-link"></span>
  					  </td>
  					  <td>
	  						<span e-name="ip" e-form="rowform" e-required>
	  						  {{ component.device_ip }}
	  						</span>
  					  </td>
              <td>
	  						<span e-form="rowform" e-required>
	  						  {{ component.device_mac }}
	  						</span>
  					  </td>
  					  <td>
	  						<span e-name="last" e-form="rowform" e-required>
	                <div style="margin-left:3px;" ng-switch on="component.devicestate.name">
	                    <button ng-disabled="offbutton" ng-switch-when="on" class="btn btn-sm btn-danger" ng-click="turnOffComponent($index,component.id)">Apagar</button>
	                    <button ng-disabled="onbutton" ng-switch-when="off" class="btn btn-sm btn-success" ng-click="turnOnComponent($index,component.id)">Prender</button>
	                </div>
	  						</span>
  					  </td>
  					  <td style="white-space: nowrap">
	  						<form editable-form name="rowform" onbeforesave="saveComponent($data, component.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == component">
	  						  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
	  								Guardar
	  						  </button>
	  						  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
	  								Cancelar
	  						  </button>
	  						</form>
	  						<div class="buttons" style="display:flex;" ng-show="!rowform.$visible">
	  						  <button class="btn btn-sm btn-primary" ng-click="rowform.$show()">Editar</button>
	                <div style="margin-left:3px;" ng-switch on="component.enabled">
	                    <button ng-disabled="desactivatebutton" ng-switch-when="true" class="btn btn-sm btn-danger" ng-click="disableComponent($index,component.id)">Desactivar</button>
	                    <button ng-disabled="activatebutton" ng-switch-when="false" class="btn btn-sm btn-success" ng-click="enableComponent($index,component.id)">Activar</button>
	                </div>
	  						</div>
  					  </td>
  					</tr>
          </table>

			</panel>
		</div>
	</div>

</div>    <!-- container-fluid -->
