<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Inicio</a></li>
        <li class="active">Datos históricos</li>
    </ol>
</div>
<div class="container-fluid" ng-controller="HistoryController">
    <div class="row">
        <div ng-show="selectedperiod == true" id="panel-chart" class="col-md-8 animated-content">
          <panel panel-class="panel-default no-padding" heading="Datos visualizados para el periodo elegido">
              <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
                  <form class="pull-right mr10">
                    <button ng-disabled="lastbutton" ng-click="loadPage('last')" class="btn btn-sm btn-info">
                      Final
                    </button>
                    <button ng-disabled="previousbutton" ng-click="loadPage(current_page + 1)" class="btn btn-sm btn-info">
                      20 anteriores
                    </button>
                    <div class="btn-group" dropdown>
                      <button ng-disabled="selectpagebutton" type="button" class="btn btn-sm btn-info">{{ current_page || 0 }}</button>
                      <button ng-disabled="selectpagebutton" type="button" class="button-refresh btn btn-sm btn-info dropdown-toggle" dropdown-toggle>
                        <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu pull-right">
                        <li ng-repeat="page in number_pages">
                          <a ng-click="loadPage(page)">{{ page }}</a>
                        </li>
                      </ul>
                    </div>
                    <button ng-disabled="nextbutton" ng-click="loadPage(current_page - 1)" class="btn btn-sm btn-info">
                      20 siguientes
                    </button>
                    <button ng-disabled="indexbutton" ng-click="loadPage(1)" class="btn btn-sm btn-info">
                      Inicio
                    </button>
                  </form>
              </panel-controls>
              <div class="p20">
                  <div class="row">
                    <div class="spinner-container" ng-show="spinner == true">
                      <div class="loader-spinner"></div>
                    </div>
                    <div ng-show="(historynodataerror == true) || (historyerror == true)" class="error-container">
                      <span>{{errormessage}}</span>
                      <button ng-click="reloadpage()" class="error-button btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-refresh"></span>
                      </button>
                    </div>
                    <canvas ng-show="(spinner == false) && (historyerror == false) && (historynodataerror == false)" id="line" class="chart chart-line" chart-data="line.data" chart-labels="line.labels"
                      chart-series="line.series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
                    </canvas>
                  </div>
              </div>
          </panel>
        </div>

        <div ng-show="selectedperiod == true" class="col-md-4">

          <div class="row">
              <div class="col-xs-12">
                  <a class="boxes-a boxes-dark" >
                    <div class="boxes-title">
                        <div class="text-center">Componente seleccionado</div>
                    </div>
                    <div class="boxes-body">
                        <div class="boxes-history-component text-center">{{selectedComponent.label || 'No se seleccionó'}}</div>
                    </div>
                  </a>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                <a class="boxes-a boxes-success" >
                  <div class="boxes-title">
                      <div class="text-center">Datos desde</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">{{configuration.dateFrom}} a las {{configuration.timeFrom}}</div>
                  </div>
                </a>
              </div>
              <div class="col-xs-6">
                <a class="boxes-a boxes-green" >
                  <div class="boxes-title">
                      <div class="text-center">Datos hasta</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">{{configuration.dateTo}} a las {{configuration.timeTo}}</div>
                  </div>
                </a>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                <a class="boxes-a boxes-orange" >
                  <div class="boxes-title">
                      <div class="text-center">Cantidad de datos sensados</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">{{total_data || 0}}</div>
                  </div>
                </a>
              </div>
              <div class="col-xs-6">
                <a class="boxes-a boxes-indigo" >
                  <div class="boxes-title">
                      <div class="text-center">Total de consumo período</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">{{data_sum_period/1000 || 0 | number:4}} Kw</div>
                  </div>
                </a>
              </div>
          </div>
        </div>

        <div ng-show="(historyerrornocomponents == false)" class="col-md-12 animated-content">
          <panel panel-class="panel-default no-padding" heading="Configurar periodo de datos historicos">
              <panel-controls>
                  <panel-control-collapse></panel-control-collapse>
              </panel-controls>
              <div class="p20">
                  <div class="row">
                    <div class="mr10 hidden-xs">

                        <table class="table table-bordered table-condensed">
                        <tr style="font-weight: bold">
                          <td style="width:18%">Dispositivo
                            <span ng-show="selectedComponent.label != undefined" class="text-success float-right glyphicon glyphicon-ok"></span>
                          </td>
                          <td style="width:18%">Fecha desde (mm/dd/yyyy)
                            <span ng-show="configuration.dateFrom != undefined" class="text-success float-right glyphicon glyphicon-ok"></span>
                          </td>
                          <td style="width:12%">Hora desde
                            <span ng-show="configuration.timeFrom != undefined" class="text-success float-right glyphicon glyphicon-ok"></span>
                          </td>
                          <td style="width:18%">Fecha hasta (mm/dd/yyyy)
                            <span ng-show="configuration.dateTo != undefined" class="text-success float-right glyphicon glyphicon-ok"></span>
                          </td>
                          <td style="width:12%">Hora hasta
                            <span ng-show="configuration.timeTo != undefined" class="text-success float-right glyphicon glyphicon-ok"></span>
                          </td>
                          <td style="width:12%">Precision
                            <span ng-show="selectedPrecision.label != undefined" class="text-success float-right glyphicon glyphicon-ok"></span>
                          </td>
                          <td style="width:10%">
                          </td>
                        </tr>
                        <tr >
                          <td class="text-center">
                            <!-- Listado de dispositivos -->
                            <div class="btn-group" dropdown>
                              <button type="button" class="btn btn-sm btn-basic">{{ selectedComponent.label || 'Elegir..' }}</button>
                              <button type="button" class="button-refresh btn btn-sm btn-basic dropdown-toggle" dropdown-toggle>
                                <i class="caret"></i>
                              </button>
                              <ul class="dropdown-menu pull-right">
                                <li ng-repeat="component in components">
                                  <a ng-click="updateCurrentComponent(component)">{{ component.label }}</a>
                                </li>
                              </ul>
                            </div>
                          </td>
                          <td>
                            <!-- Fecha desde -->
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" ng-model="configuration.dateFrom">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                          </td>
                          <td>
                            <!-- Hora desde -->
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="timepicker1" type="text" class="form-control input-small" ng-model="configuration.timeFrom">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>

                            <script type="text/javascript">
                                $('#timepicker1').timepicker({'defaultTime':'current','maxhours':24,'showMeridian':false});
                            </script>
                          </td>
                          <td>
                            <!-- Fecha hasta -->
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control" ng-model="configuration.dateTo">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                          </td>
                          <td>
                            <!-- Hora hasta -->
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="timepicker2" type="text" class="form-control input-small" ng-model="configuration.timeTo">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>

                            <script type="text/javascript">
                                $('#timepicker2').timepicker({'defaultTime':'current','maxhours':24,'showMeridian':false});
                            </script>
                          </td>
                          <td class="text-center">
                            <!-- Listado de precisiones -->
                            <div class="btn-group" dropdown>
                              <button type="button" class="btn btn-sm btn-basic">{{ selectedPrecision.label || 'Elegir' }}</button>
                              <button type="button" class="button-refresh btn btn-sm btn-basic dropdown-toggle" dropdown-toggle>
                                <i class="caret"></i>
                              </button>
                              <ul class="dropdown-menu pull-right">
                                <li ng-repeat="precision in precisions">
                                  <a ng-click="updateCurrentPrecision(precision)">{{ precision.label }}</a>
                                </li>
                              </ul>
                            </div>
                          </td>
                          <td style="white-space: nowrap">
                          <!-- form -->
                          <form editable-form name="rowform" onbeforesave="updateChart($data)" ng-show="rowform.$visible" class="buttons-grid form-buttons form-inline" shown="inserted == date_config">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
                              Mostrar
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
                              Volver
                            </button>
                          </form>
                          <div class="buttons buttons-grid" ng-show="!rowform.$visible">
                            <button ng-disabled="(configuration.dateFrom == undefined) || (configuration.timeFrom == undefined) || (configuration.timeTo == undefined) || (configuration.dateTo == undefined) || (configuration.component == undefined) || (configuration.precision == undefined)" class="btn btn-sm btn-primary" ng-click="updateChart()">Ver datos</button>
                          </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
              </div>
          </panel>
        </div>

        <div ng-show="(selectedperiod == false) && (historyerror == false)" class="history-footer-container">
          <span>Ingrese el período deseado para observar el consumo </span>
          <span class="glyphicon glyphicon-circle-arrow-up"></span>
        </div>

        <div ng-show="(historyerrornocomponents == true)" class="error-container">
          <span> {{historyerrormessage}} </span>
          <button ng-click="reloadpage()" class="error-button btn btn-sm btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>

    </div>
</div>
