<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>

    <h1>Elektron - control de consumo eléctico libre</h1>

</div>


<div class="container-fluid" ng-controller="DashboardController">

    <div class="row">
        <div class="col-md-8 animated-content">

            <panel panel-class="panel-default no-padding" heading="Consumo en tiempo real (últimos 20 datos)">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                    <div class="btn-group" dropdown>
                      <button type="button" class="btn btn-sm btn-info">{{ current_component.label }}</button>
                      <button type="button" class="button-refresh btn btn-sm btn-info dropdown-toggle" dropdown-toggle>
                        <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu pull-right">
                        <li ng-repeat="component in components_server_enabled"><a ng-click="changeCurrentComponent(component.id)">{{ component.label }}</a></li>
                      </ul>
                    </div>
                    <button ng-click="refreshConnection()" class="button-refresh btn btn-sm btn-positive"><i class="glyphicon glyphicon-refresh"></i></button>
                    <button ng-show="websocketStatus == true" class="btn btn-sm btn-success">On</button>
                    <button ng-show="websocketStatus == false" class="btn btn-sm btn-danger">Off</button>
                </panel-controls>
                <div class="p20">
                    <div class="row">
                      <canvas id="line" class="chart chart-line" chart-data="line.data" chart-labels="line.labels"
                        chart-series="line.series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
                      </canvas>
                    </div>
                </div>
            </panel>
        </div>
        <div class="col-md-4 animated-content">
            <div class="row">
                <div class="col-xs-6">
                  <a href="#/components" class="boxes-a boxes-success" >
                    <div class="boxes-title">
                        <div class="text-center">Componentes conectados</div>
                    </div>
                    <div class="boxes-body">
                        <div class="text-center">{{ components_server_enabled.length || 0 }}</div>
                    </div>
                  </a>
                </div>

                <div class="col-xs-6">
                  <a href="#/components" class="boxes-a boxes-dark" >
                    <div class="boxes-title">
                        <div class="text-center">Componentes desconectados</div>
                    </div>
                    <div class="boxes-body">
                        <div class="text-center">{{ components_server_not_enabled.length || 0 }}</div>
                    </div>
                  </a>
                </div>
                <!--<div class="col-xs-6">
                    <tile-simple data="{ title: 'Componentes', href: '#/ui-tiles',text: '8', color: 'success'}"></tile-simple>
                </div>-->
                <!--<div class="col-xs-6">
                    <tile-simple data="{ title: 'Tareas programadas', href: '#/ui-tiles',text: '17', color: 'midnightblue'}"></tile-simple>
                </div>-->
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#/tasks" class="boxes-a boxes-orange" >
                      <div class="boxes-title">
                          <div class="text-center">Tareas programadas por consumo</div>
                      </div>
                      <div class="boxes-body">
                          <div class="text-center">{{ datatasks_server.length || 0 }}</div>
                      </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#/tasks" class="boxes-a boxes-green" >
                      <div class="boxes-title">
                          <div class="text-center">Tareas programadas por tiempo</div>
                      </div>
                      <div class="boxes-body">
                          <div class="text-center">{{ datetimetasks_server.length || 0 }}</div>
                      </div>
                    </a>
                </div>

                <!--<div class="col-xs-6">
                    <tile-simple data="{ title: 'Maximo consumo planificado', href: '#/ui-tiles',text: '733 Kw', color: 'danger'}"></tile-simple>
                </div>-->
            </div>
            <div class="row">

              <div class="col-xs-6">
                <a href="#/components" class="boxes-a boxes-indigo" >
                  <div class="boxes-title">
                      <div class="text-center">Consumo total</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">233kw</div>
                  </div>
                </a>
              </div>

              <div class="col-xs-6">
                <a href="#/components" class="boxes-a boxes-danger" >
                  <div class="boxes-title">
                      <div class="text-center">Costo aproximado</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">$ 1.100</div>
                  </div>
                </a>
              </div>
              <!--  <div class="col-xs-6">
                    <tile-simple data="{ title: 'Consumo actual', href: '#/ui-tiles',text: '161 kw', color: 'primary'}"></tile-simple>
                </div>
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Costo aproximado', href: '#/ui-tiles',text: '$1.138', color: 'danger'}"></tile-simple>
                </div-->
            </div>
            <!--
            <div class="row">
                <div class="col-md-6">
                    <tile type="default" heading="Limite ocupado">
                        <div easypiechart class="easypiechart"
                            data-percent="25"
                            data-options="epDiskSpace"><span class="percent">25</span>
                        </div>
                    </tile>
                </div>
                <div class="col-md-6" ng-drop="true">
                    <tile type="default" heading="Capacidad componentes" ng-drag="true">
                        <div easypiechart class="easypiechart"
                            data-percent="23"
                            data-options="epBandwidth"><span class="percent">23</span>
                        </div>
                    </tile>
                </div>
            </div>
            -->
        </div>
    </div>

</div> <!-- container-fluid -->
