<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <h1>Elektron - control de consumo eléctrico libre</h1>
</div>

<div class="container-fluid" ng-controller="DashboardController">

    <div class="row">
        <div class="col-md-8 animated-content">

            <panel panel-class="panel-default no-padding" heading="Consumo en tiempo real (últimos 20 datos)">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                    <div class="btn-group" dropdown>
                      <button type="button" class="btn btn-sm btn-info">{{ current_component.label || 'Cargando..' }}</button>
                      <button type="button" class="button-refresh btn btn-sm btn-info dropdown-toggle" dropdown-toggle>
                        <i class="caret"></i>
                      </button>
                      <ul class="dropdown-menu pull-right">
                        <li ng-repeat="component in components_server_enabled" ng-show="{{ component.devicestate.name == 'on' && component.enabled==true}}"><a ng-click="changeCurrentComponent(component.id)">{{ component.label }}</a></li>
                      </ul>
                    </div>
                    <button ng-click="refreshConnection()" class="button-refresh btn btn-sm btn-positive"><i class="glyphicon glyphicon-refresh"></i></button>
                    <button ng-click="pauseWebsocket()" ng-show="websocketplay == true" class="button-refresh btn btn-sm btn-positive"><i class="glyphicon glyphicon-pause"></i></button>
                    <button ng-click="playWebsocket()" ng-show="websocketplay == false" class="button-refresh btn btn-sm btn-positive"><i class="glyphicon glyphicon-play"></i></button>
                    <button ng-show="(websocketStatus == true) && (loading == false)" class="btn btn-sm btn-success">On</button>
                    <button ng-show="(websocketStatus == false) && (loading == false)" class="btn btn-sm btn-danger">Off</button>
                    <button ng-show="loading == true" class="button-spinner btn btn-sm btn-default">
                      <div class="loader-spinner-small"></div>
                    </button>
                </panel-controls>
                <div class="p20">
                    <div class="row">
                      <div class="spinner-container" ng-show="spinner == true">
                        <div class="loader-spinner"></div>
                      </div>
                      <div ng-show="dashboarderror == true" class="error-container">
                        <span>{{dashboarderrormsje}} </span>
                        <button ng-click="reloadpage()" class="error-button btn btn-sm btn-default">
                          <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                      </div>
                      <canvas ng-show="(spinner == false) && (dashboarderror == false)" id="line" class="chart chart-line" chart-data="line.data" chart-labels="line.labels"
                        chart-series="line.series" chart-options="options">
                      </canvas>
                    </div>
                </div>
            </panel>
        </div>
        <div class="col-md-4 animated-content">
            <div class="row">
                <div class="col-xs-12">
                  <a href="#/components" class="boxes-a boxes-dark" >
                    <div class="boxes-title">
                        <div class="text-center">Ultimo dato medido</div>
                    </div>
                    <div class="boxes-body">
                        <div class="text-center">
                          <span ng-show="current_data != undefined"><b>{{current_data.data_value}}</b> ({{ current_data_date | date:'HH:mm:ss' }} Hs)</span>
                          <span ng-show="current_data == undefined">No hay datos aún</span>
                        </div>
                    </div>
                  </a>
                </div>
            </div>

            <div class="row">

              <div class="col-xs-6">
                <a href="#/components" class="boxes-a boxes-indigo" >
                  <div class="boxes-title">
                      <div class="text-center">Consumo total del sistema</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">{{ general_data.total_watts / 1000 || 0 | number : 0 }} Kw</div>
                  </div>
                </a>
              </div>

              <div class="col-xs-6">
                <a href="#/components" class="boxes-a boxes-success" >
                  <div class="boxes-title">
                      <div class="text-center">Componentes conectados del total</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">{{ components_server_enabled.length || 0 }}/{{components_server.length || 0}} </div>
                  </div>
                </a>
              </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <a href="#/tasks" class="boxes-a boxes-orange" >
                      <div class="boxes-title">
                          <div class="text-center">Tareas programadas por consumo</div>
                      </div>
                      <div class="boxes-body">
                          <div class="text-center">{{ datatasks_server.length || 0 }}</div>
                      </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#/tasks" class="boxes-a boxes-green" >
                      <div class="boxes-title">
                          <div class="text-center">Tareas programadas por tiempo</div>
                      </div>
                      <div class="boxes-body">
                          <div class="text-center">{{ datetimetasks_server.length || 0 }}</div>
                      </div>
                    </a>
                </div>
            </div>

            <div class="row">

              <div class="col-xs-6">
                <a href="#/components" class="boxes-a boxes-danger" >
                  <div class="boxes-title">
                      <div class="text-center">Costo aproximado</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">$ {{ general_data.total_tax || 0 | number : 0 }} </div>
                  </div>
                </a>
              </div>

              <div class="col-xs-6">
                <a href="#/components" class="boxes-a boxes-indigo" >
                  <div class="boxes-title">
                      <div class="text-center">Contaminación Co2</div>
                  </div>
                  <div class="boxes-body">
                      <div class="text-center">{{ general_data.total_co2 || 0 | number : 0 }} Kg</div>
                  </div>
                </a>
              </div>

            </div>
        </div>
    </div>
</div>
