<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>

    <h1>Elektron - control de consumo eléctico libre</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group" dropdown>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
    </div>
</div>


<div class="container-fluid" ng-controller="DashboardController">

    <div class="row">
        <div class="col-md-8 animated-content">
            <panel panel-class="panel-default no-padding" heading="Medición en tiempo real">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                    <panel-control-title></panel-control-title>
                    <panel-control-colors></panel-control-colors>
                    <panel-control-refresh type="circular" is-loading="loadingChartData" ng-click="refreshAction()"></panel-control-refresh>
                    <div class="pull-right mr10 hidden-xs">
                        <button class="btn btn-sm btn-default" style="text-transform: uppercase;" daterangepicker="drp_options" date-begin="drp_start" date-end="drp_end">
                            <i class="glyphicon glyphicon-calendar"></i> <span style="margin-left: 5px">{{drp_start}} - {{drp_end}}</span> <b class="caret"></b>
                        </button>
                    </div>
                </panel-controls>

                <div class="p20">
                    <div class="row">
                        <div class="col-md-12">
                           <div class="" flot-chart style="width: 100%; height:319px"
                                data-flot-data="plotStatsData"
                                data-flot-options="plotStatsOptions"
                            ></div>
                        </div>
                    </div>
                </div>
                <div class="m-n panel-footer">
                    <div class="row">
                        <div class="visitor-sparklines col-xs-12 col-sm-3 col-md-3">
                            <div class="sparkline-block">
                                <span sparklines="{
                                lineWidth: 2,
                                type: 'line',
                                width: '52px',
                                height: '20px',
                                lineColor: '#6cc7d9',
                                fillColor: '#e2f4f7',
                                spotColor: false,
                                minSpotColor: false,
                                highlightLineColor: 'rgba(0,0,0,0.1)',
                                highlightSpotColor: '#6cc7d9',
                                spotRadius: 3,
                                maxSpotColor: false}" data-data="[251,933,653,759,1022,1702,565]"></span>
                            </div>
                            <h3 style="text-align: center; margin: 0;">7,550</h3>
                            <p style="text-align: center; margin: 0;">Visits</p>
                            <hr class="hidden-md hidden-sm hidden-lg">
                        </div>
                        <div class="visitor-sparklines col-xs-12 col-sm-3 col-md-3">
                            <div class="sparkline-block">
                                <span sparklines="{
                                lineWidth: 2,
                                type: 'line',
                                width: '52px',
                                height: '20px',
                                lineColor: '#5299cc',
                                fillColor: '#dcebf5',
                                spotColor: false,
                                minSpotColor: false,
                                highlightLineColor: 'rgba(0,0,0,0.1)',
                                highlightSpotColor: '#5299cc',
                                spotRadius: 3,
                                maxSpotColor: false}" data-data="[1251,633,1653,1759,1022,1702,2565]"></span>
                            </div>
                            <h3 style="text-align: center; margin: 0;">12,350</h3>
                            <p style="text-align: center; margin: 0;">Page Views</p>
                            <hr class="hidden-md hidden-sm hidden-lg">
                        </div>
                        <div class="visitor-sparklines col-xs-12 col-sm-3 col-md-3">
                            <div class="sparkline-block">
                                <span sparklines="{
                                barWidth: 4,
                                type: 'bar',
                                barSpacing: 4,
                                width: '52px',
                                height: '20px',
                                barColor: '#70cc87',
                                fillColor: '#70cc87',
                                spotColor: false,
                                minSpotColor: false,
                                highlightLineColor: 'rgba(0,0,0,0.1)',
                                highlightSpotColor: '#70cc87',
                                spotRadius: 3,
                                maxSpotColor: false}" data-data="[345,563,747,136,356,628,534]"></span>
                            </div>
                            <h3 style="text-align: center; margin: 0;">$6,180</h3>
                            <p style="text-align: center; margin: 0;">Earnings</p>
                            <hr class="hidden-md hidden-sm hidden-lg">
                        </div>
                        <div class="visitor-sparklines col-xs-12 col-sm-3 col-md-3">
                            <div class="sparkline-block">
                                <span sparklines="{
                                barWidth: 4,
                                type: 'bar',
                                barSpacing: 4,
                                width: '52px',
                                height: '20px',
                                barColor: '#797b80',
                                fillColor: '#797b80',
                                spotColor: false,
                                minSpotColor: false,
                                highlightLineColor: 'rgba(0,0,0,0.1)',
                                highlightSpotColor: '#797b80',
                                spotRadius: 3,
                                maxSpotColor: false}" data-data="[80,143,107,216,246,128,214]"></span>
                            </div>
                            <h3 style="text-align: center; margin: 0;">940</h3>
                            <p style="text-align: center; margin: 0;">Items Sold</p>
                        </div>
                    </div>
                </div>

            </panel>
        </div>
        <div class="col-md-4 animated-content">
            <div class="row">
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Componentes', href: '#/ui-tiles',text: '8', color: 'success'}"></tile-simple>
                </div>
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Tareas programadas', href: '#/ui-tiles',text: '17', color: 'midnightblue'}"></tile-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Consumo utilizado actualmente', href: '#/ui-tiles',text: '27%', color: 'orange'}"></tile-simple>
                </div>
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Maximo consumo planificado', href: '#/ui-tiles',text: '733 Kw', color: 'danger'}"></tile-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Consumo actual', href: '#/ui-tiles',text: '161 kw', color: 'primary'}"></tile-simple>
                </div>
                <div class="col-xs-6">
                    <tile-simple data="{ title: 'Costo aproximado', href: '#/ui-tiles',text: '$1.138', color: 'green'}"></tile-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <tile type="default" heading="Disk Space">
                        <div easypiechart class="easypiechart"
                            data-percent="25"
                            data-options="epDiskSpace"><span class="percent">25</span>
                        </div>
                    </tile>
                </div>
                <div class="col-md-6" ng-drop="true">
                    <tile type="default" heading="Bandwidth" ng-drag="true">
                        <div easypiechart class="easypiechart"
                            data-percent="23"
                            data-options="epBandwidth"><span class="percent">23</span>
                        </div>
                    </tile>
                </div>

            </div>
        </div>
    </div>

</div> <!-- container-fluid -->
