<div ng-controller="MonitorController">
  <div id="page-heading">
      <ol class="breadcrumb">
          <li><a href="#/">Home</a></li>
          <li class="active">Monitor</li>
      </ol>

      <h1>Monitor de componentes | estado conexión ->
        <button ng-show="websocketStatus == true" class="btn btn-sm btn-success">On</button>
        <button ng-show="websocketStatus == false" class="btn btn-sm btn-danger">Off</button>
      </h1>

  </div>


  <div class="container-fluid" >

      <div class="row">

          <div ng-repeat="component in components_server" ng-show="{{ component.devicestate.name == 'on' && component.enabled==true}}" class="col-md-6">


              <panel panel-class="panel-default no-padding" heading="{{ component.label }}">
                  <panel-controls>
                      <panel-control-collapse></panel-control-collapse>

                      <a href="#/history" class="button-refresh btn btn-sm btn-info">Ver datos históricos</a>

                      <button ng-click="refreshConnection()" class="button-refresh btn btn-sm btn-positive"><i class="glyphicon glyphicon-refresh"></i></button>

                      <button ng-show="line[component.device_mac].status == true" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-asterisk"></i></button>
                      <button ng-show="line[component.device_mac].status == false" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-asterisk"></i></button>

                  </panel-controls>

                  <div class="p20">
                      <div class="row">

                        <canvas id="{{component.device_mac}}" class="chart chart-line" chart-data="line[component.device_mac].data" chart-labels="line[component.device_mac].labels"
                          chart-series="line[component.device_mac].series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>

                      </div>
                  </div>
              </panel>
          </div>
      </div>
  </div>
</div>
