<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Tareas</li>
	</ol>

	<h1>Tareas de unidades elektron</h1>

</div>
<div class="container-fluid" ng-controller="TasksController">

	<div class="row">
		<div class="col-md-12">
			<panel panel-class="panel-primary" data-heading="Tareas por consumo">
				  <panel-controls>
					<panel-control-collapse></panel-control-collapse>
					<button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
					<button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button>
				  </panel-controls>
				  <table class="table table-bordered table-condensed">
					<tr style="font-weight: bold">
						<td style="width:20%">Nombre</td>
						<td style="width:15%">Dipositivo</td>
            <td style="width:15%">Valor</td>
            <td style="width:15%">Estado</td>
						<td style="width:15%">Función</td>
						<td style="width:20%">Modificar</td>
					</tr>
					<tr ng-repeat="task in datatasks_server">
					  <td>
						<!-- editable username (text with validation) -->
						<span editable-text="task.label" e-name="name" e-form="rowform" e-required>
						  {{ task.label }}
						</span>
					  </td>
					  <td>
						<!-- editable status (select-local) -->
						<span editable-text="task.device.label" e-name="device_label" e-form="rowform" e-required>
						  {{ task.device.label }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-text="task.data_value" e-name="data_value" e-form="rowform" e-required>
						  {{ task.data_value }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-select="task.taskstate.name" e-ng-options="s.value as s.text for s in taskstate" e-name="taskstate_name" e-form="rowform" e-required>
						  {{ showDataState($index) }}
						</span>
					  </td>
					  <td>
						<!-- editable group (select-remote) -->
						<span editable-select="task.taskfunction.name" e-ng-options="s.value as s.text for s in taskfunction" e-name="taskfunction_name" e-form="rowform" e-required>
						  {{ showDataFunction($index) }}
						</span>
					  </td>
					  <td style="white-space: nowrap">
						<!-- form -->
						<form editable-form name="rowform" onbeforesave="saveComponent($data, task.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == task">
						  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
							Guardar
						  </button>
						  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
							Cancelar
						  </button>
						</form>
						<div class="buttons" style="display:flex;" ng-show="!rowform.$visible">
						  <button class="btn btn-sm btn-primary" ng-click="rowform.$show()">Editar</button>
              <button style="margin-left:3px;" class="btn btn-sm btn-danger" ng-click="removeDataTask($index, task.id)">Borrar</button>
						</div>
					  </td>
					</tr>
        </table>
				  <button class="btn btn-default" ng-click="addDataTask()">Agregar tarea</button>
			</panel>

      <panel panel-class="panel-primary" data-heading="Tareas por fecha">
				  <panel-controls>
					<panel-control-collapse></panel-control-collapse>
					<button class="button-icon"><i class="glyphicon glyphicon-cog"></i></button>
					<button class="button-icon"><i class="glyphicon glyphicon-wrench"></i></button>
				  </panel-controls>
				  <table class="table table-bordered table-condensed">
					<tr style="font-weight: bold">
						<td style="width:14%">Nombre</td>
						<td style="width:14%">Dipositivo</td>
            <td style="width:13%">Fecha</td>
            <td style="width:14%">Hora</td>
            <td style="width:13%">Estado</td>
						<td style="width:13%">Función</td>
						<td style="width:20%">Modificar</td>
					</tr>
					<tr ng-repeat="task in datetimetasks_server">
					  <td>
						<!-- editable label (text with validation) -->
						<span editable-text="task.label" e-name="name" e-form="rowform" e-required>
						  {{ task.label }}
						</span>
					  </td>
					  <td>
						<!-- editable status (select-local) -->
						<span editable-text="task.device.label" e-name="device_label" e-form="rowform" e-required>
						  {{ task.device.label }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-bsdate="task.datetime" e-datepicker-popup="shortDate" e-name="data_value" e-form="rowform" e-required>
                {{ (task.datetime | date:"shortDate") || 'empty' }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-bstime="task.datetime" e-show-meridian="false" e-name="data_value" e-form="rowform" e-required>
                {{ (task.datetime | date:"HH:mm") || 'empty' }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-select="task.taskstate.name" e-ng-options="s.value as s.text for s in taskstate" e-name="taskstate_name" e-form="rowform" e-required>
						  {{ showDateTimeState($index) }}
						</span>
					  </td>
					  <td>
						<!-- editable group (select-remote) -->
						<span editable-select="task.taskfunction.name" e-ng-options="s.value as s.text for s in taskfunction" e-name="taskfunction_name" e-form="rowform" e-required>
						  {{ showDateTimeFunction($index) }}
						</span>
					  </td>
					  <td style="white-space: nowrap">
						<!-- form -->
						<form editable-form name="rowform" onbeforesave="saveDateTimeTask($data, task.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == task">
						  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
							Guardar
						  </button>
						  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
							Cancelar
						  </button>
						</form>
						<div class="buttons" style="display:flex;" ng-show="!rowform.$visible">
						  <button class="btn btn-sm btn-primary" ng-click="rowform.$show()">Editar</button>
              <button style="margin-left:3px;" class="btn btn-sm btn-danger" ng-click="removeDateTimeTask($index,task.id)">Borrar</button>
						</div>
					  </td>
					</tr>
        </table>
				  <button class="btn btn-default" ng-click="addDateTimeTask()">Agregar tarea</button>
			</panel>


		</div>
	</div>

</div>    <!-- container-fluid -->
