<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Inicio</a></li>
		<li class="active">Tareas</li>
	</ol>

	<h1>Tareas de unidades elektron</h1>

</div>
<div class="container-fluid" ng-controller="TasksController">

	<div class="row">

		<div class="col-md-12">

			<panel panel-class="panel-primary" data-heading="Tareas por consumo">
				  <panel-controls>
					<button ng-show="deletedatataskloading == true" class="button-spinner btn btn-sm btn-default">
						<div class="loader-spinner-small"></div>
					</button>
					<panel-control-collapse></panel-control-collapse>
				  </panel-controls>
					<div class="spinner-container-components" ng-show="spinnerDataTask == true">
						<div class="loader-spinner"></div>
					</div>
					<div ng-show="datataskerror == true" class="task-error-container">
						<span>Error de conexion en el servidor </span>
						<button ng-click="reloadpage()" class="error-button btn btn-sm btn-default">
							<span class="glyphicon glyphicon-refresh"></span>
						</button>
					</div>
					<div ng-show="(spinnerDataTask == false) && (nodatataskinserver == true)" class="no-task-container">
						<span>No hay tareas por consumo creadas. </span>
					</div>
				  <table ng-show="(spinnerDataTask == false) && (datataskerror == false) && (nodatataskinserver == false)" class="table table-bordered table-condensed">
					<tr style="font-weight: bold">
						<td style="width:16%">Nombre y descripción (<span class="glyphicon glyphicon-file"></span>)</td>
						<td style="width:15%">Dipositivo</td>
            <td style="width:12%">Valor máximo</td>
            <td style="width:13%">Estado</td>
            <td style="width:11%">Repeticiones (realizadas)</td>
            <td style="width:13%">Úlitma repetición</td>
						<td style="width:10%">Función</td>
						<td style="width:10%">Modificar</td>
					</tr>
					<tr ng-repeat="task in datatasks_server">
					  <td>
						<!-- editable username (text with validation) -->
						<span editable-text="task.label" e-name="label" e-form="rowform" e-required>
						  {{ task.label }}
						</span>
            <span title="{{task.description}}" class="float-right glyphicon glyphicon-file"></span>
					  </td>
					  <td>
						<!-- editable status (select-local) -->
						<span editable-text="task.device.label" e-name="device_label" e-form="rowform" e-required>
						  {{ task.device.label }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-text="task.data_value" e-name="data_value" e-form="rowform" e-required>
						  {{ task.data_value }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-select="task.taskstate.name" e-ng-options="s.value as s.text for s in taskstate" e-name="taskstate_name" e-form="rowform" e-required>
						  {{ showDataState($index) }}
						</span>
					  </td>
            <td>
            <!-- editable status (select-local) -->
            <span editable-text="task.repeats" e-name="repeats" e-form="rowform" e-required>
              {{ task.repeats }} ({{task.repetitions_done}})
            </span>
            </td>
            <td>
            <!-- editable status (select-local) -->
            <span editable-text="task.last_run" e-name="repeats" e-form="rowform" e-required>
              {{ task.last_run | date:'short' }}
            </span>
            </td>
					  <td>
						<!-- editable group (select-remote) -->
						<span editable-select="task.taskfunction.name" e-ng-options="s.value as s.text for s in taskfunction" e-name="taskfunction_name" e-form="rowform" e-required>
						  {{ showDataFunction($index) }}
						</span>
					  </td>
					  <td style="white-space: nowrap">
						<!-- form -->
						<form editable-form name="rowform" onbeforesave="editDataTask($data, task.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == task">
						  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
							Guardar
						  </button>
						  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
							Cancelar
						  </button>
						</form>
						<div class="buttons" style="display:flex;" ng-show="!rowform.$visible">
						  <button class="btn btn-sm btn-primary" ng-click="openEditDataTask($index)">Editar</button>
              <button style="margin-left:3px;" class="btn btn-sm btn-danger" ng-click="removeDataTask($index, task.id)">Borrar</button>
						</div>
					  </td>
					</tr>
        </table>
        <a ng-show="datataskerror == false" ng-click="addBoxDataTask()" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Agregar tarea por consumo</a>
			</panel>

      <panel id="panelDataTask" ng-show="blockdatataskdiv == false" panel-class="panel-primary" data-heading="{{dataTaskDiv}}">
            <panel-controls>
							<button ng-click="closeBoxDataTask()" class="btn-default btn">Cancelar</button>
              <panel-control-collapse></panel-control-collapse>
            </panel-controls>

            <form action="" class="form-horizontal row-border">

              <div class="form-group">
                <label class="col-sm-3 control-label">Nombre</label>
                <div class="col-sm-6">
                  <input ng-model="currentDataTask.label" type="text" class="form-control" placeholder="Nombre de la tarea">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Descripción</label>
                <div class="col-sm-6">
                  <input ng-model="currentDataTask.description" type="text" class="form-control" placeholder="Descripción">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Componente</label>
                <div class="col-sm-6">
                  <select ng-model="currentDataTask.device_mac" class="form-control" >
                    <optgroup label="Componentes disponibles">
                      <option ng-repeat="component in components_server" value="{{component.device_mac}}">{{ component.label }}</option>
                    </optgroup>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Valor máximo</label>
                <div class="col-sm-6">
                  <input ng-model="currentDataTask.max_value" class="form-control" type="number">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Accion a realizar</label>
                <div class="col-sm-6">
                  <select ng-model="currentDataTask.function" class="form-control" >
                    <optgroup label="Acciones disponibles">
                      <option ng-repeat="function in taskfunction" value="{{function.value}}">{{function.text}}</option>
                    </optgroup>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Estado inicial</label>
                <div class="col-sm-6">
                  <select ng-model="currentDataTask.state" class="form-control" >
                    <optgroup label="Acciones disponibles">
                      <option ng-repeat="state in taskstate" value="{{state.value}}">{{state.text}}</option>
                    </optgroup>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Cantidad de repeticiones</label>
                <div class="col-sm-6">
                  <input ng-model="currentDataTask.repeats" class="form-control" type="number" value="3" id="example-number-input">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Comparador</label>
                <div class="col-sm-6">
                  <select ng-model="currentDataTask.comparator" class="form-control" >
                    <optgroup label="Comparadores disponibles">
                      <option value="1">Mayor</option>
                      <option value="-1">Menor</option>
                      <option value="0">Igual</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </form>
            <div class="panel-footer">
      			<div class="row">
      				<div class="col-sm-6 col-sm-offset-3">
      					<div class="btn-toolbar">
      						<button ng-show="createDataTaskButton" ng-click="createDataTask()" class="btn-success btn"><span class="glyphicon glyphicon-plus-sign"></span> Agregar tarea</button>
                  <button ng-show="editDataTaskButton" ng-click="editDataTask()" class="btn-primary btn"><span class="glyphicon glyphicon-plus-sign"></span> Editar tarea</button>
      						<button ng-click="closeBoxDataTask()" class="btn-default btn">Cancelar</button>
      					</div>
      				</div>
      			</div>
      		</div>
      </panel>

      <panel panel-class="panel-primary" data-heading="Tareas por fecha y hora">
				  <panel-controls>
					<button ng-show="deletedatetimeloading == true" class="button-spinner btn btn-sm btn-default">
						<div class="loader-spinner-small"></div>
					</button>
					<panel-control-collapse></panel-control-collapse>
				  </panel-controls>
					<div class="spinner-container-components" ng-show="spinnerDateTime == true">
						<div class="loader-spinner"></div>
					</div>
					<div ng-show="(deletedatataskloading == false) && (datetimetaskerror == true)" class="task-error-container">
						<span>Error de conexion en el servidor </span>
						<button ng-click="reloadpage()" class="error-button btn btn-sm btn-default">
							<span class="glyphicon glyphicon-refresh"></span>
						</button>
					</div>
					<div ng-show="(spinnerDateTime == false) && (deletedatataskloading == false) && (nodatetimetaskinserver == true)" class="no-task-container">
						<span>No hay tareas por fecha y hora creadas. </span>
					</div>
				  <table ng-show="(spinnerDateTime == false) && (datetimetaskerror == false) && (nodatetimetaskinserver == false)" class="table table-bordered table-condensed">
					<tr style="font-weight: bold">
						<td style="width:16%">Nombre y descripción (<span class="glyphicon glyphicon-file"></span>)</td>
						<td style="width:14%">Dipositivo</td>
            <td style="width:9%">Fecha (criterio)</td>
            <td style="width:7%">Hora</td>
            <td style="width:11%">Estado</td>
            <td style="width:11%">Repeticiones (Realizadas)</td>
            <td style="width:13%">Última repetición</td>
						<td style="width:10%">Función</td>
						<td style="width:10%">Modificar</td>
					</tr>
					<tr ng-repeat="task in datetimetasks_server">
					  <td>
						<!-- editable label (text with validation) -->
						<span editable-text="task.label" e-name="label" e-form="rowform" e-required>
						  {{ task.label }}
						</span>
            <span title="{{task.description}}" class="float-right glyphicon glyphicon-file"></span>
					  </td>
					  <td>
						<!-- editable status (select-local) -->
						<span editable-text="task.device.label" e-name="device_label" e-form="rowform" e-required>
						  {{ task.device.label }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-bsdate="task.datetime" e-datepicker-popup="shortDate" e-name="data_value" e-form="rowform" e-required>
                {{ (task.datetime | date:"shortDate") || 'empty' }} (Cada {{showCriteriaTime($index)}})
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-bstime="task.datetime" e-show-meridian="false" e-name="data_value" e-form="rowform" e-required>
                {{ (task.datetime | date:"HH:mm") || 'empty' }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-select="task.taskstate.name" e-ng-options="s.value as s.text for s in taskstate" e-name="taskstate_name" e-form="rowform" e-required>
						  {{ showDateTimeState($index) }}
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-text="task.repeats" e-name="repeats" e-form="rowform" e-required>
						  {{ task.repeats }} ({{task.repetitions_done}})
						</span>
					  </td>
            <td>
						<!-- editable status (select-local) -->
						<span editable-text="task.repeats" e-name="repeats" e-form="rowform" e-required>
						  {{ task.last_run | date:'short' }}
						</span>
					  </td>
					  <td>
						<!-- editable group (select-remote) -->
						<span editable-select="task.taskfunction.name" e-ng-options="s.value as s.text for s in taskfunction" e-name="taskfunction_name" e-form="rowform" e-required>
						  {{ showDateTimeFunction($index) }}
						</span>
					  </td>
					  <td style="white-space: nowrap">
						<!-- form -->
						<form editable-form name="rowform" onbeforesave="editDateTimeTask($data, task.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == task">
						  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
							Guardar
						  </button>
						  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
							Cancelar
						  </button>
						</form>
						<div class="buttons" style="display:flex;" ng-show="!rowform.$visible">
						  <button class="btn btn-sm btn-primary" ng-click="openEditDateTimeTask($index)">Editar</button>
              <button style="margin-left:3px;" class="btn btn-sm btn-danger" ng-click="removeDateTimeTask($index,task.id)">Borrar</button>
						</div>
					  </td>
					</tr>
	        </table>
	        <a ng-show="datetimetaskerror == false" ng-click="addBoxDateTimeTask()" class="btn btn-success">
						<span class="glyphicon glyphicon-plus-sign"></span> Agregar tarea por fecha y hora</a>
				</panel>

      <panel id="panelDateTimeTask" ng-show="blockdatetimetaskdiv == false" panel-class="panel-primary" data-heading="{{dateTimeTaskDiv}}">
            <panel-controls>
							<button ng-click="closeBoxDateTimeTask()" class="btn-default btn">Cancelar</button>
              <panel-control-collapse></panel-control-collapse>
            </panel-controls>

            <form action="" class="form-horizontal row-border">

              <div class="form-group">
                <label class="col-sm-3 control-label">Nombre</label>
                <div class="col-sm-6">
                  <input ng-model="currentDateTimeTask.label" type="text" class="form-control" placeholder="Nombre de la tarea">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Descripción</label>
                <div class="col-sm-6">
                  <input ng-model="currentDateTimeTask.description" type="text" class="form-control" placeholder="Descripción">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Componente</label>
                <div class="col-sm-6">
                  <select ng-model="currentDateTimeTask.device_mac" class="form-control" >
                    <optgroup label="Componentes disponibles">
                      <option ng-repeat="component in components_server" value="{{component.device_mac}}">{{ component.label }}</option>
                    </optgroup>
                  </select>
                </div>
              </div>

              <div class="form-group">
        				<label for="#" class="col-md-3 control-label">Elegir día</label>
        				<div class="col-md-6">
        					<datepicker ng-model="currentDateTimeTask.date" min-date="minDate" show-weeks="true" class="datepicker"></datepicker>
        				</div>
        			</div>

              <div class="form-group">
        				<label class="col-sm-3 control-label">Elegir hora</label>
        				<div class="timepickerform" class="col-sm-6">
        					<timepicker ng-model="currentDateTimeTask.date" class="timepicker"></timepicker>
        				</div>
        			</div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Accion a realizar</label>
                <div class="col-sm-6">
                  <select ng-model="currentDateTimeTask.function" class="form-control" >
                    <optgroup label="Acciones disponibles">
                      <option ng-repeat="function in taskfunction" value="{{function.value}}">{{function.text}}</option>
                    </optgroup>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Estado inicial</label>
                <div class="col-sm-6">
                  <select ng-model="currentDateTimeTask.state" class="form-control" >
                    <optgroup label="Estados disponibles">
                      <option ng-repeat="state in taskstate" value="{{state.value}}">{{state.text}}</option>
                    </optgroup>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Cantidad de repeticiones</label>
                <div class="col-sm-6">
                  <input ng-model="currentDateTimeTask.repeats" class="form-control" type="number" >
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Criterio de repetición</label>
                <div class="col-sm-6">
                  <select ng-model="currentDateTimeTask.criteria" class="form-control" >
                    <optgroup label="Comparadores disponibles">
                      <option value="1">Cada hora</option>
                      <option value="0">Cada día</option>
                    </optgroup>
                  </select>
                </div>
              </div>

            </form>
            <div class="panel-footer">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <div class="btn-toolbar">
                  <button ng-show="createDateTimeTaskButton" ng-click="createDateTimeTask()" class="btn-success btn"><span class="glyphicon glyphicon-plus-sign"></span> Agregar tarea</button>
                  <button ng-show="editDateTimeTaskButton" ng-click="editDateTimeTask()" class="btn-primary btn"><span class="glyphicon glyphicon-plus-sign"></span> Editar tarea</button>
                  <button ng-click="closeBoxDateTimeTask()" class="btn-default btn">Cancelar</button>
                </div>
              </div>
            </div>
          </div>

      </panel>


		</div>
	</div>

</div>
