.boxes-history-component {
  padding-top: 11% !important;
  padding-bottom: 11% !important;
  font-size: 0.9em !important;
}

.boxes-a {
  color: #ffffff !important;
  margin: 0px 0px 20px;
  display: block;
  border-radius: 3px;
}

.boxes-title {
  letter-spacing: normal;
  padding: 6px 10px;
  font-weight: 700;
  box-shadow: inset 0 -50px 0 0 rgba(255, 255, 255, 0.1);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
}

.panel-footer {
  padding-bottom: 9px;
}

.boxes-body {
  padding: 15px;
  font-weight: 300;
  font-size: 32px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.boxes-body div {
  font-size: 0.6em;
}

.boxes-indigo{
  background: #9358ac;
}

.boxes-indigo:hover {
  background: #854e9d;
}

.boxes-danger {
  background: #ef553a;
}

.boxes-danger:hover {
  background: #e66a54;
}

.boxes-orange{
  background: #f0934e;
}

.boxes-orange:hover {
  background: #e69d67;
}

.boxes-green {
  background: #38a085;
}

.boxes-green:hover {
  background: #4bbda0;
}

.boxes-success {
  background: #81c04d;
}

.boxes-success:hover {
  background: #7dcc93;
}

.boxes-dark {
  background: #37444e;
}

.boxes-dark:hover {
  background: #3f4d58;
}

.buttons-grid {
  display: grid;
}

.buttons-grid button{
  margin-bottom: 2px;
}

.btn-block {margin-bottom: 10px;}

.button-refresh {
  margin-right: 4px;
}

.timepickerform td {
  padding: 0px !important;
}

.float-right {
  float: right;
}

.date-form {
  position: relative !important;
}

.spinner-container-components {
  min-height: 200px;
  margin-left: 45%;
  margin-top: 10%;
}

.spinner-container-cerrandosesion {
  min-height: 150px;
  margin-left: 45%;
  margin-top: 60%;
}

.cerrandosession-container {
  text-align: center;
}


.spinner-container {
  min-height: 200px;
  text-align: center;
  margin-left: 45%;
  margin-top: 20%;
}

.error-container {
  min-height: 200px;
  text-align: center;
  margin-top: 20%;
}

.tabla-comparativa-container {
  min-height: 190px;
  text-align: center;
  margin-top: 22%;
}

.no-task-container {
  text-align: center;
  min-height: 100px;
  margin-top: 7%;
}


.task-error-container {
  min-height: 160px;
  text-align: center;
  margin-top: 10%;
}

.error-button {
  background-color: transparent !important;
  border: none !important;
  /* color: transparent !important; */
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.history-footer-container {
  min-height: 130px;
  margin-top: 28%;
  text-align: center;
}

.loader-spinner {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #555;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.footer-bar {
  width: 100%;
  max-height: 100px;
  height: 105px;
  text-align: center;
  padding-top: 20px;
}

.loader-spinner-small {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #68a139;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.button-spinner {
  background-color: transparent !important;
  border: none !important;
  color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
