<div ng-controller="MainController"
	id="headerbar"
	ng-class="{headerbarHide: getLayoutOption('headerBarHidden'), headerbarShow: !getLayoutOption('headerBarHidden')}"
	ng-show="!getLayoutOption('fullscreen')"
	ng-cloak>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-brown">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-star"></i></div>
					</div>
					<div class="tiles-footer">
						Create Post
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-grape">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-user"></i></div>
						<div class="pull-right"><span class="badge">2</span></div>
					</div>
					<div class="tiles-footer">
						Contacts
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-primary">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-envelope"></i></div>
						<div class="pull-right"><span class="badge">10</span></div>
					</div>
					<div class="tiles-footer">
						Messages
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-inverse">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-camera"></i></div>
						<div class="pull-right"><span class="badge">3</span></div>
					</div>
					<div class="tiles-footer">
						Gallery
					</div>
				</a>
			</div>

			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-midnightblue">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-cog"></i></div>
					</div>
					<div class="tiles-footer">
						Settings
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="#" class="shortcut-tiles tiles-orange">
					<div class="tiles-body">
						<div class="pull-left"><i class="glyphicon glyphicon-wrench"></i></div>
					</div>
					<div class="tiles-footer">
						Plugins
					</div>
				</a>
			</div>

		</div>
	</div>
</div>

<header
	id="topnav"
	class="navbar ng-hide"
	ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
	ng-controller="MainController"
	role="banner"
	ng-show="!layoutLoading"
	ng-cloak>
	<a id="leftmenu-trigger" ng-click="toggleLeftBar()"></a>


	<div class="navbar-header pull-left">
    <img class="navbar-brand-tom" src="../assets/img/elektron.png" alt="Elektron" />
		<!--<a class="navbar-brand" href="#/">Elektron</a>-->
	</div>

	<div id="search-inline"
		class="nav navbar-nav navbar-form hidden-xs"
		ng-class="{
		  active: getLayoutOption('showSmallSearchBar')
		}">
		<div class="input-icon">
			<i class="glyphicon glyphicon-search search"></i>
			<input type="text" placeholder="Buscar..." class="form-control" tabindex="1">
			<i class="glyphicon glyphicon-remove remove visible-xs-inline-block" ng-click="toggleSearchBar($event)"></i>
		</div>
	</div>

	<ul class="nav navbar-nav pull-right toolbar">
	  <li class="dropdown" ng-show="!isLoggedIn">
		    <a href="#/login" style="font-size: 14px"><i class="fa fa-sign-in"></i> Log in</a>
	  </li>
	  <li class="dropdown" ng-show="isLoggedIn" dropdown>
		    <a href class="dropdown-toggle username" dropdown-toggle><img src="../assets/img/nestor.png" alt="Userfoto" /></a>
		<ul class="dropdown-menu animated userinfo arrow">
		  <li class="userlinks">
			<ul class="dropdown-menu">
			  <li><a href="#">Edit Profile <i class="pull-right glyphicon glyphicon-pencil"></i></a></li>
			  <li><a href="#">Account <i class="pull-right glyphicon glyphicon-user"></i></a></li>
			  <li><a href="#">Settings <i class="pull-right glyphicon glyphicon-cog"></i></a></li>
			  <li class="divider"></li>
			  <li><a href="#">Earnings <i class="pull-right glyphicon glyphicon-stats"></i></a></li>
			  <li><a href="#">Statement <i class="pull-right glyphicon glyphicon-list-alt"></i></a></li>
			  <li><a href="#">Withdrawals <i class="pull-right glyphicon glyphicon-credit-card"></i></a></li>
			  <li class="divider"></li>
			  <li><a href="" class="text-right" ng-click="logOut()">Sign Out</a></li>
			</ul>
		  </li>
		</ul>
	  </li>
		<ul class="dropdown-menu animated messages arrow">
		  <li class="dd-header">
			<span>Messages ({{unseenCount}})</span>
			<span><a href="#"><i class="glyphicon glyphicon-cog"></i></a></span>
		  </li>
			  <div class="scrollthis" scrollable>
				<li ng-repeat="item in messages">
				  <a href="#/" ng-class="{active: !item.read}">
					<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark read" class="btn-mark-read" ng-if="!item.read" ng-click="setRead(item, $event)"><i class="glyphicon glyphicon-unchecked"></i></button>
					<button tooltip-placement="top" tooltip-append-to-body="true" tooltip="Mark unread" class="btn-mark-unread" ng-if="item.read" ng-click="setUnread(item, $event)"><i class="glyphicon glyphicon-check"></i></button>
					<span class="time">{{item.time}}</span>
					<img ng-src="{{item.thumb}}" alt="avatar" />
					<div>
					  <span class="name">{{item.name}}</span>
					  <span class="msg">{{item.message}}</span>
					</div>
				  </a>
				</li>
			  </div>
		  <li class="dd-footer"><a href="#" ng-click="setReadAll($event)">Mark all read</a></li>
		</ul>
	  </li>
	  </li>
	  <li class="visible-xs-block">
		  <a href="#" ng-click="toggleSearchBar($event)"><i class="glyphicon glyphicon-search"></i></a>
	  </li>
	</ul>
</header>
