<div ng-controller="MainController"
	id="headerbar"
	ng-class="{headerbarHide: getLayoutOption('headerBarHidden'), headerbarShow: !getLayoutOption('headerBarHidden')}"
	ng-show="!getLayoutOption('fullscreen')"
	ng-cloak>

</div>

<header
	id="topnav"
	class="navbar ng-hide"
	ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
	ng-controller="MainController"
	role="banner"
	ng-show="!layoutLoading"
	ng-cloak>
	<a id="leftmenu-trigger" ng-click="toggleLeftBar()"></a>


	<div class="navbar-header pull-left">
    <img class="navbar-brand-tom" src="../assets/img/elektron.png" alt="Elektron" />
		<!--<a class="navbar-brand" href="#/">Elektron</a>-->
	</div>

	<div id="search-inline"
		class="nav navbar-nav navbar-form hidden-xs"
		ng-class="{
		  active: getLayoutOption('showSmallSearchBar')
		}">
		<div class="input-icon">
			<i class="glyphicon glyphicon-search search"></i>
			<input type="text" placeholder="Buscar..." class="form-control" tabindex="1">
			<i class="glyphicon glyphicon-remove remove visible-xs-inline-block" ng-click="toggleSearchBar($event)"></i>
		</div>
	</div>

	<ul class="nav navbar-nav pull-right toolbar">
	  <li class="dropdown" ng-show="!isLoggedIn">
		    <a href="#/login" style="font-size: 14px"><i class="fa fa-sign-in"></i> Log in</a>
	  </li>
	  <li class="dropdown" ng-show="isLoggedIn" dropdown>
		    <a href class="dropdown-toggle username" dropdown-toggle>
					<img src="../assets/img/iconoelektron.png" alt="Userfoto" />
				</a>
	  </li>
	  </li>
	  </li>
	  <li class="visible-xs-block">
		  <a href="#" ng-click="toggleSearchBar($event)"><i class="glyphicon glyphicon-search"></i></a>
	  </li>
	</ul>
</header>
